:global {
  body {
    overflow-x: hidden;
  }
}

.layout {
  height: 100vh;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  main {
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
